.vuti{
  /** 
  * 主色及副色
  */
  --color-t1: #0096ff;
  --color-t2: #999999;
  --color-error: #ff4d1d;
  --color-warn: #ffa71d;
  /** 
  * 字体主色及副色
  */
  --color-font-t1: #333333;
  --color-font-t2: #666666;
  /** 
  * 背景主色及反色
  */
  --color-bg-t1: #f1f1f1;
  --color-bg-t2: #ffffff;
  /** 
  * 分割线
  */
  --color-divide: #dddddd;

  /** 
  * 字体
  */
  /*导航标题*/
  --size-font-t1: 4.8vw;
  /*列表标题*/
  --size-font-t2: 4.267vw;
  /*正文*/
  --size-font-t3: 3.734vw;
  /*副标题，辅助文字*/
  --size-font-t4: 3.2vw;
  /*副标题，辅助文字*/
  --size-font-t5: 2.934vw;
  /*底部标签栏文字*/
  --size-font-t6: 2.667vw;
  --size-font-t7: 2.4vw;

  /** 
  * 导航栏、cell高度
  */
  --size-cell-height: 11.734vw;

  /** 
  * 导航栏阴影
  */
  --shadow-nav: 0px 8px 18px 2px rgba(153,153,153,0.2);

  /** 
  * 加载中组件阴影
  */
  --load-bg: #fafafa;
  --load-txt: #f1f1f1;
  --load-icon: #e5f4ff;
  
  --size-picker-height: 9vw;

  /** 
  * 边距
  */
  /* 标题与输入框间隔 */
  --size-margin-t1: 5.333vw;
  /* 页面侧边距，正文纵向边距 */
  --size-margin-t2: 4vw;
  /* 标题纵向边距 */
  --size-margin-t3: 3.733vw;
  --size-margin-t4: 3.2vw;
  /* 块间距 */
  --size-margin-t5: 2.667vw;
  --size-margin-t6: 2.4vw;
}
.vuti{
  line-height: 5.6vw;
}
.vuti-border-top{
  position: relative;
}
.vuti-border-top::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: var(--color-divide);
  transform: scaleY(.5);
  -webkit-transform: scaleY(.5);
  -moz-transform: scaleY(.5);
  -ms-transform: scaleY(.5);
  -o-transform: scaleY(.5);
}
.vuti-border-bottom{
  position: relative;
}
.vuti-border-bottom::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: var(--color-divide);
  transform: scaleY(.5);
  -webkit-transform: scaleY(.5);
  -moz-transform: scaleY(.5);
  -ms-transform: scaleY(.5);
  -o-transform: scaleY(.5);
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: 0;
  background: 0;
  -webkit-appearance: none;
  outline: 0;
}

a,
button,
input,
select,
textarea,
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
[onclick] {
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}
input{
  padding: 0;
}
::-webkit-input-placeholder {
  color: #ccc;
}