html{
  /** 
  * 尺寸比例
  */
  --size: 1;
}

body{  
  /** 
  * 主色及副色
  */
  --color-t1: #0096ff;
  --color-t2: #999999;
  --color-positive: #13ce66;
  --color-error: #ff4d1d;
  --color-warn: #ffa71d;
  /** 
  * 字体主色及副色
  */
  --color-font-t1: #333333;
  --color-font-t2: #666666;
  --color-font-t3: #cccccc;
  /** 
  * 背景主色及反色
  */
  --color-bg-t1: #f1f1f1;
  --color-bg-t2: #ffffff;
  /** 
  * 分割线
  */
  --color-divide: #dddddd;

  /** 
  * 字体
  */
  /*导航标题*/
  --size-font-t1: calc(4.8vmin/var(--size));
  /*列表标题*/
  --size-font-t2: calc(4.267vmin/var(--size));
  /*正文*/
  --size-font-t3: calc(3.734vmin/var(--size));
  /*副标题，辅助文字*/
  --size-font-t4: calc(3.2vmin/var(--size));
  /*副标题，辅助文字*/
  --size-font-t5: calc(2.934vmin/var(--size));
  /*底部标签栏文字*/
  --size-font-t6: calc(2.667vmin/var(--size));
  --size-font-t7: calc(2.4vmin/var(--size));

  /** 
  * 导航栏、cell高度
  */
  --size-cell-height: calc(11.734vmin/var(--size));

  /** 
  * 导航栏阴影
  */
  --shadow-nav: 0px 8px 18px 2px rgba(153,153,153,0.2);

  /** 
  * 加载中组件阴影
  */
  --load-bg: #fafafa;
  --load-txt: #f1f1f1;
  --load-icon: #e5f4ff;
  
  --size-picker-height: 34px;

  /** 
  * 边距
  */
  /* 标题与输入框间隔 */
  --size-margin-t1: calc(5.333vmin/var(--size));
  /* 页面侧边距，正文纵向边距 */
  --size-margin-t2: calc(4vmin/var(--size));
  /* 标题纵向边距 */
  --size-margin-t3: calc(3.734vmin/var(--size));
  --size-margin-t4: calc(3.2vmin/var(--size));
  /* 块间距 */
  --size-margin-t5: calc(2.667vmin/var(--size));
  --size-margin-t6: calc(2.4vmin/var(--size));
}