.vuti-row{
  width: 100%;
  display: -webkit-box;
          overflow-x: scroll;
          -webkit-overflow-scrolling:touch;
}
.vuti-row-item{
width: 30%;
}
.vuti-row-item>img{
width: 100%;
display: block;
}