.vuti-dialog{
  width: 74.667vw;
  background-color: var(--color-bg-t2);
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 101;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: var(--shadow-nav);
}
.vuti-dialog-image{
  width: 32vw;
  margin: 6.4vw auto;
}

.vuti-dialog-image>img{
  display: block;
  width: 100%;
}
.vuti-dialog-title{
  margin: 6.6667vw 8vw 0px;
  font-weight: bold;
  color: var(--color-font-t1);
  font-size: var(--size-font-t2);
  text-align: center;
}
.vuti-dialog-text{
  margin: var(--size-font-t4) 8vw 5.34vw;
  color: var(--color-font-t1);
  font-size: var(--size-font-t3);
}
.vuti-dialog-buttons{
  height: 10.667vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: var(--color-t2);
}
.vuti-dialog-buttons::before{
  position: absolute;
  content: "";
  width: 100%;
  top: 0px;
  left: 0px;
  height: 1px;
  background-color: var(--color-divide);
  transform: scaleY(.5);
  -webkit-transform: scaleY(.5);
  -moz-transform: scaleY(.5);
  -ms-transform: scaleY(.5);
  -o-transform: scaleY(.5);
}
.vuti-dialog-button{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-font-t2);
}
.vuti-dialog-button-primary{
  color: var(--color-t1);
}