.vuti-dialog{
  width: calc(74.667vmin/var(--size));
  background-color: var(--color-bg-t2);
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 101;
  border-radius: var(--dialog-radio);
  -webkit-border-radius: var(--dialog-radio);
  -moz-border-radius: var(--dialog-radio);
  -ms-border-radius: var(--dialog-radio);
  -o-border-radius: var(--dialog-radio);
  box-shadow: var(--shadow-nav);
}
.vuti-dialog-image{
  width: calc(32vmin/var(--size));
  margin: calc(6.4vw/var(--size)) auto;
}

.vuti-dialog-image>img{
  display: block;
  width: 100%;
}
.vuti-dialog-title{
  margin: calc(6.6667vw/var(--size)) calc(8vw/var(--size)) 0px;
  font-weight: bold;
  color: var(--color-font-t1);
  font-size: var(--size-font-t2);
  text-align: center;
}
.vuti-dialog-text{
  margin: var(--size-font-t4) calc(8vw/var(--size)) calc(5.34vmin/var(--size));
  color: var(--color-font-t1);
  font-size: var(--size-font-t3);
}
.vuti-dialog-buttons{
  height: calc(10.667vmin/var(--size));
  display: flex;
  justify-content: space-between;
  position: relative;
  color: var(--color-t2);
}
.vuti-dialog-buttons::before{
  position: absolute;
  content: "";
  width: 100%;
  top: 0px;
  left: 0px;
  height: 1px;
  background-color: var(--color-divide);
  transform: scaleY(.5);
  -webkit-transform: scaleY(.5);
  -moz-transform: scaleY(.5);
  -ms-transform: scaleY(.5);
  -o-transform: scaleY(.5);
}
.vuti-dialog-button{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-font-t2);
}
.vuti-dialog-button[scheme=primary]{
  color: var(--color-t1);
}